### IntelliJ IDEA ###
out/
!**/src/DatabaseConnectionin/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/DatabaseConnectionin/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### DatabaseConnectionc OS ###
.DS_Store
# Ignore database connection file
src/dao/DatabaseConnection.java
